*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
color:#333;
}

header{
text-align:center;
padding:30px;
background:#111;
color:white;
}

header p{
opacity:0.7;
margin-top:5px;
}

.marmitas{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:white;
border-radius:12px;
width:280px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;
padding-bottom:20px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:12px 12px 0 0;
}

.card h2{
margin:15px 0;
}

.preco{
font-size:22px;
font-weight:bold;
color:#27ae60;
margin-bottom:15px;
}

button{
background:#25D366;
border:none;
padding:12px 20px;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1ebe5d;
}

.cardapio{
background:white;
margin:40px auto;
max-width:600px;
padding:30px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.cardapio h2{
text-align:center;
margin-bottom:20px;
}

#cardapio-lista p{
padding:8px;
border-bottom:1px solid #eee;
}

footer{
text-align:center;
padding:20px;
opacity:0.6;
}