*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{

background:linear-gradient(140deg,#1a1a1a,#000);

display:flex;
justify-content:center;

}

.container{

max-width:420px;
width:100%;

background:#f4efe6;

min-height:100vh;

padding-bottom:40px;

}

/* HEADER */

.header{

background:linear-gradient(135deg,#8b0000,#b22222);

color:white;

text-align:center;

padding:25px 10px;

box-shadow:0 6px 14px rgba(0,0,0,0.4);

position:sticky;

top:0;

z-index:10;

}

.header h1{

font-size:22px;

font-weight:600;

}

.header p{

font-size:14px;

opacity:0.9;

}

/* CARD */

.card{

background:white;

margin:20px;

border-radius:14px;

padding:18px;

box-shadow:0 6px 16px rgba(0,0,0,0.15);

}

.titulo{

color:#8b0000;

margin-bottom:10px;

}

/* IMAGEM */

.imagem-prato{

width:100%;

border-radius:10px;

margin-bottom:10px;

}

/* LISTA */

.descricao{

font-size:15px;

}

.descricao ul{

margin-top:10px;

padding-left:18px;

}

.descricao li{

margin-bottom:6px;

}

/* TAMANHOS */

.tamanhos h3{

margin-bottom:10px;

color:#8b0000;

}

.item{

display:flex;

justify-content:space-between;

padding:12px;

border-radius:8px;

background:#f6f6f6;

margin-bottom:10px;

}

.item b{

color:#8b0000;

}

/* BOTÃO */

.botao{

display:block;

margin:20px;

text-align:center;

padding:15px;

background:linear-gradient(135deg,#1db954,#25d366);

color:white;

text-decoration:none;

font-size:18px;

border-radius:10px;

font-weight:600;

box-shadow:0 6px 12px rgba(0,0,0,0.25);

transition:0.3s;

}

.botao:hover{

transform:scale(1.03);

}

/* FOOTER */

.footer{

text-align:center;

font-size:13px;

opacity:0.7;

margin-top:20px;

}